// Enable typed processes
nextflow.preview.types = true

// Set metadata for the pipeline
manifest {
    contributors = [
        [name: "Leon Wang", affiliation: "WEHI: Walter and Eliza Hall Institute of Medical Research", email: "", github: "", orcid: ""],
        [name: "Kathleen Zeglinski", affiliation: "WEHI: Walter and Eliza Hall Institute of Medical Research", email: "", github: "", orcid: ""]
    ]
    description = "Preprocessing of antibody sequences"
    homePage = ""
    mainScript = "main.nf"
    nextflowVersion = ">=25.10.0"
    version = "v1.0.0"
}

// Default parameters
// params {
// 	read_dir = "${projectDir}/data/reads"
//     sample_sheet = "${projectDir}/data/reference_files/sample_sheet.csv"
// 	phagemid_ref = "${projectDir}/data/reference_files/fab_phagemid.fa"
// 	matchbox_script = "${projectDir}/bin/antibody_preprocess.mb"
//     matchbox_parameters = "${projectDir}/data/reference_files/matchbox_parameters.csv"
//     output_dir = "results"
//     help = false
//     enable_conda = false
//     nanobody = false
// }

params {
	read_dir = "/vast/projects/antibody_sequencing/PC010/20251121_WEHI_CBT_PC010/Cowman_Lab/20251121_1015_P2S-01296-A_PBG90717_e96ccf45/demultiplex_sup"
    sample_sheet = "${projectDir}/data/reference_files/preprocessing_sample_sheet.csv"
	phagemid_ref = "${projectDir}/data/reference_files/PMES4_nanobody.fa"
	matchbox_script = "${projectDir}/bin/antibody_preprocess.mb"
    matchbox_parameters = "${projectDir}/data/reference_files/matchbox_parameters.csv"
    output_dir = "results/test"
    help = false
    enable_conda = false
    nanobody = true
}

// Assign different processing capacities
process {
    withLabel: process_tiny {
        cpus = 1
        memory = 1.GB
    }

    withLabel: process_low {
        cpus = 2
        memory = 6.GB
    }

    withLabel: process_medium {
        cpus = 4
        memory = 16.GB
    }

    withLabel: process_high {
        cpus = 16
        memory = 24.GB
    }
}

// Configure different profiles 
profiles {
    // the "standard" profile is used implicitely by nextflow
    standard {
        process.executor = 'local'
        singularity.enabled = false
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
            runOptions= '-v $HOME:$HOME'
        }
    }

    // singularity + slurm profile
    wehi {
        executor {
            name = 'slurm'
            queueSize = 100
            queueStatInterval = 10.sec
            pollInterval = 10.sec
            submitRateLimit = 10.sec
        }
        singularity {
            enabled = true
            autoMounts = false
            runOptions = '-B /vast -B /stornext'
        }
    }

    // Conda profile
    conda {
        docker.enabled = false
        conda {
            enabled = false
            cacheDir = ""
            useMamba = true
        }
    params.enable_conda = true
    }

    // local singularity profile
    singularity {
        process.executor = 'local'
        singularity {
            enabled = true
            autoMounts = false
            runOptions = '-B /vast -B /stornext -B /wehisan'
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}

// Set the work directory
workDir = "${projectDir}/work"

// Set the output directory for workflow results
outputDir = "${params.output_dir}"

// Set publish mode to copy files into output directory instead of creating a symlink
workflow.output.mode = 'copy'

// // Set workflow output to ignore if a file cannot be published
// workflow.output.ignoreErrors =  true